{% extends "layout.html" %}
{% block body %}
    <form action="/tracking" method=post class=add-entry>
        <dl>
            <dt>Location:
            <br>
            <input type="radio" name="location" value="Office">Office<br>
            <input type="radio" name="location" value="LTQ-FT">LTQ-FT<br>
            <input type="radio" name="location" value="Thunderdome">Thunderdome<br>
            <input type="radio" name="location" value="Mass Spec Room">Mass Spec Room<br>
            <input type="radio" name="location" value="Meeting">Meeting<br>
            <input type="radio" name="location" value="Bioinformatics">Bioinformatics<br>
            <input type="radio" name="location" value="4th Floor Lab">4th Floor Lab<br>
            <input type="radio" name="location" value="Heading Out">Heading Out<br>
            <input type="radio" name="location" value="writein"><input type=text size=30 name=writein>
            <br>
            <dt>User:
            <input type=text size=30 name=user>
            <br>
            <input type=submit value=Track>
        </dl>
    </form>
    <table>
        <thead>
            <th>Location</th>
            <th>User</th>
            <th>Timestamp</th>
        </thead>
        <tbody>
            {% for track in trackings %}
                <tr>
                <td>{{ track.location|safe }}</td>
                <td>{{ track.report_user|safe }}</td>
                <td>{{ track.timestamp|safe }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}